<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250170385156-f3ukljtdqsbk4mpcc82hce6ta5omkdb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250170385156-f3ukljtdqsbk4mpcc82hce6ta5omkdb5</string>
	<key>API_KEY</key>
	<string>AIzaSyCU_KZUIPNOsZ3Dvi1HjoZPivRUCp1hCCE</string>
	<key>GCM_SENDER_ID</key>
	<string>250170385156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BeeBants.BeeBants</string>
	<key>PROJECT_ID</key>
	<string>beebants-bcf17</string>
	<key>STORAGE_BUCKET</key>
	<string>beebants-bcf17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250170385156:ios:0128db89c51df09f79a651</string>
	<key>DATABASE_URL</key>
	<string>https://beebants-bcf17.firebaseio.com</string>
</dict>
</plist>